img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	width: auto;
	height: 100%;
}

.sidebar {
	position: fixed;
	left: -205px;
	top: 0px;
	height: 100%;
	width: 200px;
	transition: left 0.3s ease-in-out;
	background-color: white;
	z-index: 50;
	padding-left: 5px;
	padding-top: 5px;
}

.sidebar-toggle {
	visibility: visible;
	opacity: 1;
	transition: visibility 0s, opacity 0.5s ease-in-out;
	position: fixed;
	left: 0px;
	top: 0px;
	height: 52px;
	width: 52px;
	z-index: 100;
}

.content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
	transition: left 0.3s ease-in-out;
	background-color: white;
}

.sidebar.open {
	left: 0;
}

.content.open {
	left: 200px;
}

.sidebar-toggle.open {
	visibility: hidden;
	opacity: 0;
}

.info-icon {
	position: fixed;
	left: -50px;
	transition: left 0.3s ease-in-out;
	top: 5px;
	height: 32px;
	width: 32px;
}

.info-icon.open {
	left: 150px;
}